doctype html
html
	head
		title slimerjs
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		link(rel='stylesheet', href='../../node_modules/mocha/mocha.css')
		script(src='../../node_modules/chai/chai.js')
		script(src='../../node_modules/chai-string/chai-string.js')
		script(src='../../node_modules/chai-as-promised/lib/chai-as-promised.js')
		script(src='../../node_modules/mocha/mocha.js')
		script(src='../js/vendor.js')
		script.
			mocha.setup("bdd");
			window.onload = function() {
				mocha.run();
			}
	body
		#mocha
		script(src='./js/test.js')
