template#secret-generator-field-template
	.secret-generator-field.form-group
		.col-md-12
			.input-group.input-group-lg
				.input-group-btn
					button.btn.btn-default(v-on:click='generateSecret', v-bind:title='currentAlphabetRegExp',
							data-step-index='2',
							type='button', tabindex='-1')
						span.glyphicon.glyphicon-random
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown'
							aria-haspopup='true' aria-expanded='false')
						span.caret
						span.sr-only Toggle Dropdown
					ul.dropdown-menu
						li(v-for='alphabetRegExp in alphabetRegExpList',
								v-bind:class='{active: currentAlphabetRegExp === alphabetRegExp}')
							a(v-on:click='chooseAlphabet(alphabetRegExp)', href='#') {{alphabetRegExp}}
						li.divider(role='separator')
						li(v-for='secretLengthVariant in secretLengthVariantList',
								v-bind:class='{active: currentSecretLengthVariant === secretLengthVariant}')
							a(v-on:click='chooseSecretLength(secretLengthVariant)', href='#') {{secretLengthVariant.label}}
				input.form-control(v-model='secret', type='text', autocomplete='off',
						data-step-index='3',
						v-bind:placeholder='title', v-bind:title='title', v-bind:tabindex='tabIndex')
