template#secret-generator-field-template
	.input-group.input-group-lg
		.input-group-btn
			button.btn.btn-default(v-on:click='generateSecret', v-bind:title='currentAlphabetRegExp',
					type='button', tabindex='-1')
				span.glyphicon.glyphicon-random
			button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown'
					aria-haspopup='true' aria-expanded='false')
				span.caret
				span.sr-only Toggle Dropdown
			ul.dropdown-menu
				li(v-for='alphabetRegExp in alphabetRegExpList',
						v-bind:class='{active: currentAlphabetRegExp === alphabetRegExp}')
					a(v-on:click='chooseAlphabet(alphabetRegExp)', href='#') {{alphabetRegExp}}
				li.divider(role='separator')
				li(v-for='secretLengthVariant in secretLengthVariantList',
						v-bind:class='{active: currentSecretLengthVariant === secretLengthVariant}')
					a(v-on:click='chooseSecretLength(secretLengthVariant)', href='#') {{secretLengthVariant.label}}
		input.form-control(v-model='secret', type='text', autocomplete='off',
				v-bind:placeholder='title', v-bind:title='title', v-bind:tabindex='tabIndex')
