<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="In Mind Notes">
    <meta name="author" content="Redneckz">
    <title>In Mind Notes</title>
    <!-- Favorite icon-->
    <link href="/favicon-256x256.png" rel="icon" type="image/png" sizes="any">
    <!-- Vendor CSS-->
    <link href="/dist/css/vendor.css" rel="stylesheet">
  </head>
  <body>
    <template id="passphrase-field-template">
      <div class="input-group input-group-lg">
        <input v-model="passphrase" v-bind:type="passphraseFieldType" placeholder="Passphrase" title="Passphrase" autofocus="" required="" autocomplete="off" tabindex="1" class="form-control"><span class="input-group-btn">
          <button v-on:click="togglePassphraseVisibility" v-bind:class="{active: passphraseVisible}" type="button" tabindex="-1" class="btn btn-default btn-lg"><span v-if="passphraseVisible" class="glyphicon glyphicon-eye-open"></span><span v-else class="glyphicon glyphicon-eye-close"></span></button></span>
      </div>
    </template>
    <template id="public-key-field-template">
      <div class="input-group input-group-lg">
        <input v-model="publicKey" v-bind:tabindex="tabIndex" type="text" placeholder="Public Key" title="Public Key" autocomplete="on" class="form-control"><span class="input-group-btn">
          <button type="button" tabindex="-1" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-eye-open"></span></button></span>
      </div>
    </template>
    <template id="secret-generator-field-template">
      <div class="input-group input-group-lg">
        <div class="input-group-btn">
          <button v-on:click="generateSecret" v-bind:title="currentAlphabetRegExp" type="button" tabindex="-1" class="btn btn-default"><span class="glyphicon glyphicon-random"></span></button>
          <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <ul class="dropdown-menu">
            <li v-for="alphabetRegExp in alphabetRegExpList" v-bind:class="{active: currentAlphabetRegExp === alphabetRegExp}"><a v-on:click="chooseAlphabet(alphabetRegExp)" href="#">{{alphabetRegExp}}</a></li>
            <li role="separator" class="divider"></li>
            <li v-for="secretLengthVariant in secretLengthVariantList" v-bind:class="{active: currentSecretLengthVariant === secretLengthVariant}"><a v-on:click="chooseSecretLength(secretLengthVariant)" href="#">{{secretLengthVariant.label}}</a></li>
          </ul>
        </div>
        <input v-model="secret" type="text" autocomplete="off" v-bind:placeholder="title" v-bind:title="title" v-bind:tabindex="tabIndex" class="form-control">
      </div>
    </template>
    <template id="secret-field-template">
      <div class="input-group input-group-lg">
        <div class="input-group-btn">
          <button v-on:click="selectSecret" type="button" tabindex="-1" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
        <input v-model="secret" v-bind:tabindex="tabIndex" type="text" placeholder="Secret" title="Secret" autocomplete="off" readonly="" class="form-control">
      </div>
    </template>
    <div id="secret-form" class="container">
      <div style="padding-top: 2px; padding-bottom: 15px" class="row">
        <div class="col-md-12"><span v-if="directMode" class="label label-default pull-right">Direct mode</span><span v-if="reverseMode" class="label label-warning pull-right">Reverse mode</span></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form role="form">
            <div class="form-group">
              <passphrase-field v-bind:passphrase.sync="passphrase"></passphrase-field>
            </div>
            <div v-if="directMode" class="form-group">
              <public-key-field v-bind:public-key.sync="publicKey" tab-index="2"></public-key-field>
            </div>
            <div v-if="reverseMode" class="form-group">
              <secret-generator-field v-bind:secret.sync="secret" tab-index="2"></secret-generator-field>
            </div>
            <div title="Mode trigger" class="form-group text-center">
              <button v-on:click="toggleMode" type="button" tabindex="-1" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-sort"></span></button>
            </div>
            <div v-if="directMode" class="form-group">
              <secret-field v-bind:secret.sync="secret" tab-index="3"></secret-field>
            </div>
            <div v-if="reverseMode" class="form-group">
              <public-key-field v-bind:public-key.sync="publicKey" tab-index="3"></public-key-field>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="container"><a href="https://docs.google.com/presentation/d/1ZnEOJmroB_GmzV5ukgMryF9Mb2WN7EEsS53kv_KUaFg/edit?usp=sharing" role="button" target="help" style="margin-left: 15px;" class="btn btn-info btn-xs pull-right"><span class="glyphicon glyphicon-question-sign"></span></a>
      <p class="text-right text-muted small pull-right">© 2014, Redneckz</p>
    </footer>
    <script src="/dist/js/vendor.js"></script>
    <script src="/dist/js/index.js"></script>
  </body>
</html>