<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="In Mind Notes">
    <meta name="author" content="Redneckz">
    <title>Redneckz </title>
    <!-- Vendor CSS-->
    <link href="/dist/css/vendor.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="/dist/css/index.css" rel="stylesheet">
  </head>
  <body>
    <template id="secret-field-template">
      <div class="input-group input-group-lg">
        <div class="input-group-btn">
          <button v-on:click="selectSecret" v-if="directMode" type="button" tabindex="-1" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
          <button v-on:click="generateSecret" v-bind:title="currentAlphabetRegExp" v-if="!directMode" type="button" tabindex="-1" class="btn btn-default"><span class="glyphicon glyphicon-random"></span></button>
          <button v-if="!directMode" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
          <ul v-if="!directMode" class="dropdown-menu">
            <li v-for="alphabetRegExp in alphabetRegExps"><a v-on:click="chooseAlphabet(alphabetRegExp)" href="#">{{alphabetRegExp}}</a></li>
          </ul>
        </div>
        <input v-model="secret" type="text" autocomplete="off" v-bind:placeholder="title" v-bind:title="title" v-bind:tabindex="tabIndex" v-bind:readonly="directMode" class="form-control">
      </div>
    </template>
    <div id="secret-form" class="container">
      <div style="padding-top: 2px; padding-bottom: 15px" class="row">
        <div class="col-md-12"><span v-if="directMode" class="label label-default pull-right">Direct mode</span><span v-if="reverseMode" class="label label-warning pull-right">Reverse mode</span></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form role="form">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <input id="passphrase" type="password" placeholder="Passphrase" title="Passphrase" autofocus="" required="" autocomplete="off" tabindex="1" class="form-control"><span class="input-group-btn">
                  <button id="showPassphraseButton" type="button" tabindex="-1" class="btn btn-default btn-lg"><span id="passphraseClose" class="glyphicon glyphicon-eye-close"></span><span id="passphraseOpen" style="display: none;" class="glyphicon glyphicon-eye-open"></span></button></span>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <input id="publicKey" type="text" placeholder="Public key" title="Public key" autocomplete="on" tabindex="2" class="form-control"><span class="input-group-btn">
                  <button id="qrcodeButton" type="button" tabindex="-1" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-qrcode"></span></button></span>
              </div>
            </div>
            <div title="Mode trigger" class="form-group text-center">
              <button id="modeButton" v-on:click="toggleMode" type="button" tabindex="-1" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-sort"></span></button>
            </div>
            <div class="form-group">
              <secret-field v-bind:direct-mode="directMode" v-bind:secret="secret" v-bind:length="secretLength" title="Secret" tab-index="3"></secret-field>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="container"><a href="https://docs.google.com/presentation/d/1ZnEOJmroB_GmzV5ukgMryF9Mb2WN7EEsS53kv_KUaFg/edit?usp=sharing" role="button" target="help" style="margin-left: 15px;" class="btn btn-info btn-xs pull-right"><span class="glyphicon glyphicon-question-sign"></span></a>
      <p class="text-right text-muted small pull-right">© 2014, Redneckz</p>
    </footer>
    <script src="/dist/js/vendor.js"></script>
    <script src="/dist/js/index.js"></script>
  </body>
</html>