include ../public-key-autocomplete/public-key-autocomplete.jade

template#public-key-writer-field-template
	.form-group
		public-key-autocomplete(v-bind:public-key-name.sync='publicKeyName',
				v-bind:tab-index='tabIndex')
