include ../public-key-autocomplete/public-key-autocomplete.jade

template#public-key-reader-field-template
	.form-group(v-bind:class='{"has-warning": !publicKey}')
		public-key-autocomplete(v-bind:public-key-name.sync='publicKeyName',
				v-bind:tab-index='tabIndex')
