button.secret-field__select-secret-button.btn.btn-default(v-on:click='selectSecret',
		v-bind:class='{"btn-danger": hasError}',
		v-bind:disabled='!secret',
		type='button', tabindex='-1')
	span.glyphicon.glyphicon-chevron-right
