template#passphrase-field-template
	.form-group(data-step-index='1', style='margin-bottom: 2px;')
		.col-md-12
			.input-group.input-group-lg
				input.form-control(v-model='passphrase', v-bind:type='passphraseFieldType',
						placeholder='Passphrase', title='Passphrase',
						autofocus='', required='', autocomplete='off', tabindex='1')
				span.input-group-btn
					button.btn.btn-default.btn-lg(v-on:click='togglePassphraseVisibility',
							v-bind:class='{active: isPassphraseVisible}',
							type='button', tabindex='-1')
						span.glyphicon.glyphicon-eye-open(v-show='isPassphraseVisible')
						span.glyphicon.glyphicon-eye-close(v-show='!isPassphraseVisible')
			.progress.passphrase-score
				.progress-bar.progress-bar-striped(
						role='progressbar', aria-valuemin='0', aria-valuemax='100',
						v-bind:aria-valuenow='passphraseScorePercentage',
						v-bind:class='{"progress-bar-success": isBestPassphrase || isStrongPassphrase, "progress-bar-warning": isNormalPassphrase, "progress-bar-danger": isWeakPassphrase}',
						v-bind:style='{width: passphraseScorePercentage + "%"}')			
