template#passphrase-field-template
	.passphrase-field.form-group(data-step-index='1', style='margin-bottom: 2px;')
		.col-md-12
			.input-group.input-group-lg
				input.form-control(v-model='passphrase', v-bind:type='passphraseFieldType',
						placeholder='Passphrase', title='Passphrase',
						autofocus='', required='', autocomplete='off', tabindex='1')
				span.input-group-btn
					include __eye-button/passphrase-field__eye-button
			include __score/passphrase-field__score
