template#secret-field-template
  .input-group.input-group-lg
    span.input-group-btn
      button.btn.btn-default.btn-lg(v-on:click='generateSecret', type='button', tabindex='-1')
        span.glyphicon.glyphicon-random
    input.form-control(v-model='secret', type='text', autocomplete='off',
                       v-bind:placeholder='title', v-bind:title='title',
                       v-bind:tabindex='tabIndex', v-bind:readonly='directMode')
