include ./passphrase-field/passphrase-field.jade
include ./public-key-field/public-key-field.jade
include ./secret-generator-field/secret-generator-field.jade
include ./secret-field/secret-field.jade

.container#secret-form
	.row(style='padding-top: 2px; padding-bottom: 15px')
		.col-md-12
			span.label.label-default.pull-right(v-if='directMode') Direct mode
			span.label.label-warning.pull-right(v-if='reverseMode') Reverse mode
	.row
		.col-md-12
			form(role='form')
				.form-group
					passphrase-field(v-bind:passphrase.sync='passphrase')
								
				.form-group(v-if='directMode')
					public-key-field(v-bind:public-key.sync='publicKey', tab-index='2')
				.form-group(v-if='reverseMode')
					secret-generator-field(v-bind:secret.sync='secret', tab-index='2')
					
				.form-group.text-center(title='Mode trigger')
					button.btn.btn-default.btn-lg(v-on:click='toggleMode', type='button', tabindex='-1')
						span.glyphicon.glyphicon-sort
						
				.form-group(v-if='directMode')
					secret-field(v-bind:secret.sync='secret', tab-index='3')
				.form-group(v-if='reverseMode')
					public-key-field(v-bind:public-key.sync='publicKey', tab-index='3')
