include ./passphrase-field/passphrase-field.jade
include ./public-key-reader-field/public-key-reader-field.jade
include ./public-key-writer-field/public-key-writer-field.jade
include ./secret-generator-field/secret-generator-field.jade
include ./secret-field/secret-field.jade

.container#secret-form
	.row(style='padding-top: 2px; padding-bottom: 15px')
		.col-md-12
			span.label.label-default.pull-right(v-if='directMode') Direct mode
			span.label.label-warning.pull-right(v-if='reverseMode') Reverse mode
	.row
		.col-md-12
			form(role='form')
				.form-group(v-bind:class='{"has-warning": !passphrase}')
					passphrase-field(v-bind:passphrase.sync='passphrase')
				
				.form-group(v-if='directMode', v-bind:class='{"has-warning": !chosenPublicKey}')
					public-key-reader-field(v-bind:public-key.sync='chosenPublicKey',
											v-bind:public-key-name.sync='chosenPublicKeyName',
											tab-index='2')
				.form-group(v-if='reverseMode')
					secret-generator-field(v-bind:secret.sync='generatedSecret', tab-index='2')
					
				.form-group.text-center(title='Mode trigger')
					button.btn.btn-default.btn-lg(v-on:click='toggleMode', type='button', tabindex='-1')
						span.glyphicon.glyphicon-sort
						
				.form-group(v-if='directMode', v-bind:class='{"has-error": secretComputationError}')
					secret-field(v-bind:secret='computedSecret', tab-index='3')
				.form-group(v-if='reverseMode', v-bind:class='{"has-error": publicKeyComputationError}')
					public-key-writer-field(v-bind:public-key='computedPublicKey',
											v-bind:public-key-name.sync='enteredPublicKeyName',
											tab-index='3')
