template#public-key-field-template
  .input-group.input-group-lg
    input.form-control(v-model='publicKey', v-bind:tabindex='tabIndex',
                       type='text', placeholder='Public Key', title='Public Key', autocomplete='on')
    span.input-group-btn
      button.btn.btn-default.btn-lg(type='button', tabindex='-1')
        span.glyphicon.glyphicon-eye-open
