.row(style='padding-top: 2px; padding-bottom: 15px')
  .col-md-12
    span#directMode.label.label-default.pull-right Direct mode
    span#reverseMode.label.label-warning.pull-right(style='display: none;') Reverse mode
