#qrcodeDownloadDialog.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      .modal-body
        a#qrcodeDownload(href='javascript:void(0)', download='publickey.png')
          #qrcode
