.conatiner
  include mode-indicator.jade
  
  form(role='form')
    .form-group
      .input-group.input-group-lg
        input#passphrase.form-control(type='password', placeholder='Passphrase', title='Passphrase', autofocus='', required='', autocomplete='off', tabindex='1')
        span.input-group-btn
          button#showPassphraseButton.btn.btn-default.btn-lg(type='button', tabindex='-1')
            span#passphraseClose.glyphicon.glyphicon-eye-close
            span#passphraseOpen.glyphicon.glyphicon-eye-open(style='display: none;')
    #publicKeyFormGroup.form-group
      .input-group.input-group-lg
        input#publicKey.form-control(type='text', placeholder='Public key', title='Public key', autocomplete='on', tabindex='2')
        span.input-group-btn
          button#qrcodeButton.btn.btn-default.btn-lg(type='button', tabindex='-1')
            span.glyphicon.glyphicon-qrcode
    #modeButtonFormGroup.form-group.text-center(title='Mode trigger')
      button#modeButton.btn.btn-default.btn-lg(type='button', tabindex='-1')
        span.glyphicon.glyphicon-sort
    #noteFormGroup.form-group
      .input-group.input-group-lg
        span.input-group-btn
          button#rndButton.btn.btn-default.btn-lg(type='button', tabindex='-1')
            span.glyphicon.glyphicon-chevron-right
            span.glyphicon.glyphicon-random(style='display: none')
        input#note.form-control(type='text', placeholder='Secret', title='Secret', autocomplete='off', tabindex='3', readonly='true')

include qr-download-dialog.jade
include qr-upload-form.jade
