doctype html
html(lang='en', manifest="manifest.cache")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='In Mind Notes')
		meta(name='author', content='Redneckz')
		title In Mind Notes
		// Favorite icon
		link(href='favicon-256x256.png', rel='icon', type='image/png', sizes='any')
		// Vendor CSS
		link(href='dist/css/vendor.css', rel='stylesheet')
		link(href='dist/css/index.css', rel='stylesheet')
	body
		include ./secret-form/secret-form.jade
		include ./hot-keys/hot-keys-section.jade
		
		secret-form(v-ref:secret-form)
		hot-keys-section
		include footer/footer.jade
		
		script(src='dist/js/vendor.js')
		script(src='dist/js/index.js')
