template#secret-field-template
	.form-group(v-bind:class='{"has-error": hasError}', data-step-index="7")
		.col-md-12
			.input-group.input-group-lg
				.input-group-btn
					button.btn.btn-default(v-on:click='selectSecret',
							v-bind:class='{"btn-danger": hasError}',
							v-bind:disabled='!secret',
							type='button', tabindex='-1')
						span.glyphicon.glyphicon-chevron-right
				input.form-control(v-model='secret', v-bind:tabindex='tabIndex',
						 type='text', placeholder='Secret', title='Secret',
						 autocomplete='off', readonly='')
