template#secret-field-template
	.secret-field.form-group(v-bind:class='{"has-error": hasError}', data-step-index='8')
		.col-md-12
			.input-group.input-group-lg
				.input-group-btn
					include __select-secret-button/secret-field__select-secret-button
				input.form-control(v-model='secret', v-bind:tabindex='tabIndex',
						 type='text', placeholder='Secret', title='Secret',
						 autocomplete='off', readonly='')
