footer.container
  a.btn.btn-info.btn-xs.pull-right(href='https://docs.google.com/presentation/d/1ZnEOJmroB_GmzV5ukgMryF9Mb2WN7EEsS53kv_KUaFg/edit?usp=sharing', role='button', target='help', style='margin-left: 15px;')
    span.glyphicon.glyphicon-question-sign
  p.text-right.text-muted.small.pull-right © 2014, Redneckz
